<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="QuanLyPhongHocEntities" connectionString="metadata=res://*/Models.MainModel.csdl|res://*/Models.MainModel.ssdl|res://*/Models.MainModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=THINKPAD-T490\SQLEXPRESS01;initial catalog=QuanLyPhongHoc;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QuanLyPhongHocEntities1" connectionString="metadata=res://*/Models.MainModel.csdl|res://*/Models.MainModel.ssdl|res://*/Models.MainModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=THINKPAD-T490\SQLEXPRESS01;initial catalog=QuanLyPhongHoc;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>